#!/usr/bin/make -f
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

# The ldconfig trigger gets enabled because the package installs libraries, but
# it's in fact unnecessary (it installs them to a different directory).
override_dh_makeshlibs:
	dh_makeshlibs --no-scripts
